
* {
    margin: 0; 
    padding: 0;
}

html{
    height: 100%;
}

/****************************************************************************/
/******************************** BODY **************************************/

body {
    height: 100%;
}

/****************************************************************************/
/******************************* WRAPPER ************************************/

#wrapper {
    position: relative;
    min-height: 100%;
    vertical-align:bottom;
    margin:0 auto;
    height:100%;
}

/****************************************************************************/
/******************************* HEADER *************************************/

header {
    width: 100%;
    height: 400px; 

    min-width: 850px;

    text-align: center;

}

.bigtitle {
    margin:0 auto;
    width: 850px;
    text-align: left;
}

.header-img-container {
    margin: auto; /* to horizontally center an element within its container */
    padding-top: 25px;
    padding-bottom: 25px;
    width: 100%;
    min-width: 850px;
    border-top: solid;
    border-bottom: solid;
    border-width: 1px;
    border-color: #ccc;
}

#header-img {

    object-fit: cover;

/*  
    background-position: 50% 50%;
    background-repeat:   no-repeat;
    background-size:     cover;

    max-width:550px;
    max-height:200px;
    width: auto;
    height: auto;
*/
    width: 550px; /*100%;*/
    height: 200px;  /* height:100%; for alpi.png*/

    vertical-align: middle;
    border-radius: 50%;

    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/****************************************************************************/
/*************************** NAVIGATION BAR *********************************/

nav {
}

nav ul {
    margin: auto; /* to horizontally center an element within its container */
    width: 850px;
    overflow: hidden;

    list-style-type: none; /* remove the bullets */
}

nav li {
    float: left;
}

nav li a {
    display: block; /* Displaying the links as block elements makes 
                       the whole link area clickable (not just the text), 
                       and it allows us to specify padding 
                       (and height, width, margins, etc. if you want) */
    padding: 8px 16px; 
                     /* Since block elements take up the full width available, 
                     they cannot float next to each other. Therefore, 
                     specify some padding to make them look good */

    text-align: center;
    text-decoration: none; /* remove underline */
}



/* DROPDOWN CLASSES */
.dropdown {
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    min-width: 140px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
    padding: 8px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* ACTIVE CLASSES */ 
#navbar ul li .active {
}

/****************************************************************************/
/******************************** main **************************************/

#main {
    width: 750px;
    margin: 0 auto; /* 0 auto -30px */
    min-height: 100%;
    height: auto !important;
    height: 100%;

    /* old */
    padding: 50px;
    margin-top: 25px;
    margin-bottom: 25px;
    /*
    padding-top: 1em;
    padding-bottom: 1em;
    */
}



/****************************************************************************/
/******************************** ASIDE *************************************/
/*
aside {
    position: relative;
    float: right ;
  	width: 10em;
    top: 25em;
    bottom: 5em;
    right: 0;
    height: 100%;
}
*/

/****************************************************************************/
/******************************* FOOTER *************************************/

footer{
    width:100%;
    height: 48px;
    min-width: 750px;
    text-align: center;
}

footer span {
    vertical-align: -15px;
}

/****************************************************************************/
/******************************* COLORS *************************************/

body {
    background-color: #FFFFFF; /* #FFFFFF white */
    /*background: url("./img/jump.jpg") ;*/
}
header {
    background-color: #FFFFFF; /* #FF0000 red */ 
}
.bigtitle {
}

.header-img-container {
    background-color: #FFFFFF; /* #0000FF blue */
}

nav {
    background-color: #FFFFFF ; /* #00FF00 green */
}
ul {
    background-color: #F0F0F0 ; /* #00FFFF light blue */

    box-shadow:         inset 0px 0px 0px #707070;
    -webkit-box-shadow: inset 0px 0px 0px #707070;
    -moz-box-shadow:    inset 0px 0px 0px #707070;
    -o-box-shadow:      inset 0px 0px 0px #707070;
}
li a {
    background-color: #F0F0F0 ; /* #FFFF00 yellow */
    color: #6b00b3;
    box-shadow:         inset 0px 0px 0px #707070;
    -webkit-box-shadow: inset 0px 0px 0px #707070;
    -moz-box-shadow:    inset 0px 0px 0px #707070;
    -o-box-shadow:      inset 0px 0px 0px #707070;
}
/* Change the link color to #111 (black) on hover */
li a:hover {
    background-color: #E8E8E8; /* #FF00FF light violet */
}

.active {
    background-color: #F0F0F0; /* #C0C0C0 grey */
    border-bottom: 3px #000000 solid;
}
/* DROPDOWN CLASSES */
.dropdown {
}

.dropdown-content {
    background-color: #F0F0F0; /* #600000 dark red */
}

.dropdown-content a {
    color: #000000;
}

.dropdown-content a:hover {
    background-color: #E8E8E8; /* #666600 military green */
}

.dropdown:hover .dropdown-content {
}

/*
aside {
  background-color: yellow;
}
*/
#main{
    background-color: #F0F0F0; /* #0000FF blue */
    color: #707070;

    box-shadow:         inset 0px 0px 0px #707070;
    -webkit-box-shadow: inset 0px 0px 0px #707070;
    -moz-box-shadow:    inset 0px 0px 0px #707070;
    -o-box-shadow:      inset 0px 0px 0px #707070;
}
footer{
    background-color: #707070; /* #660066 violet */
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #CCC;
    margin: 0 0;
    padding: 0; 
}

/****************************************************************************/
/******************************** FONTS *************************************/

body {
    font-family: "Open Sans", sans-serif;
}
header {
}

h1 {
    text-shadow: 0 2px 2px #707070;
}

h1, h3 {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-variant: small-caps;
}
nav {
    font-family: "Roboto", sans-serif;
    font-size: small;
    font-weight: bold;
}
/*
aside {
  background-color: yellow;
}
*/
#main {
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
}
footer {
    font-family: "Open Sans", sans-serif;
    font-size: small;
    font-weight: 300;
}

/****************************************************************************/
/******************************** OTHER *************************************/

a {
    text-decoration: none;
}
ul {
    list-style-position: inside;
} 

.journal-list ul {
  margin: auto;
  width: 700px;
}


td {

    vertical-align: top;
}

pre {
    overflow: auto;
}

.CodeInfo {
    width: 100%;
    text-align: left;
}

.JohnsonBound {
    border-collapse: collapse;
}

.JohnsonBound td {
    width: 150px;
}

.JohnsonBound tr td {
    border: 1px solid #CCCCCC; 
    text-align: center;  
}



